{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="section-content padding-y bg">
    <div class="container">


    <!-- ============================ COMPONENT 1 ================================= -->

    <div class="row">
        <aside class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-4">Billing Address</h4>
            <form action="{% url 'place_order' %}" method ="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col form-group">
                        <label for="">First Name</label>
                        <input type="text" name="first_name" class="form-control" required>
                    </div >

                    <div class="col form-group">
                        <label for="">Last Name</label>
                        <input type="text" name="last_name" class="form-control" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <label for="">Email</label>
                        <input type="email" name="email" class="form-control" required>
                    </div>
                    <div class="col form-group">
                        <label for="">Phone Number</label>
                        <input type="text" name="phone" class="form-control" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <label for="address">Floor </label>
                        <select name="address" id="address" class="form-control" required>
                            <option value="">Choose Floor</option>
                            <option value="address1">Floor 4</option>
                            <option value="address2">Floor 5</option>
                            <option value="address3">Floor 6</option>
                            <!-- Thêm các tùy chọn khác tại đây -->
                        </select>
                    </div>

                    <div class="col form-group">
                        <label for="">Room</label>
                        <input type="text" name="room" class="form-control" required>
                    </div>
                </div>
                <div class="col form-row">
                    <label for="">Order Note</label>
                    <textarea name="order_note" rows="2" class="form-control" ></textarea>
                </div>
            

        </div>
    </div> <!-- card.// -->
    



        </aside> <!-- col.// -->
        <aside class="col-lg-6 ">
    
            <div class="card">
            <div class="card-body">
                 <dl class="dlist-align">
                    <dt>Total price:</dt>
                    <dd class="text-right"> {{total}}VND </dd>
                  </dl>
                  <hr>
                <button type ="submit" name ="submit" class="btn btn-primary btn-block"> Place Order </button>
                <a href="{% url 'store' %}" class="btn btn-light btn-block">Continue Shopping</a>
                </form>
            </div> <!-- card-body.// -->
            </div> <!-- card.// -->
    
        </aside> <!-- col.// -->
    
    
    </div> <!-- row.// --> 
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock %}