{% extends 'base.html' %}
{% load static %}

{% block content %}


<section class="section-content padding-y bg">
	<div class="container">

		<!-- ============================ COMPONENT 1 ================================= -->
		<h4 class="text-center mb-20">Review Your Order and Make Payment</h4>
		<div class="row">

			<aside class="col-lg-8">
				<div class="card">
					<h5 class="card-header">Billing Address</h5>
					<div class="card-body">
						<p class="card-text mb-0">Name: {{order.full_name}}</p>
						<p class="card-text mb-0">Floor: {{order.floor}}</p>
						<p class="card-text mb-0">Room: {{order.room}}</p>
						<p class="card-text mb-0">Email: {{order.email}}</p>
						<p class="card-text mb-0">Number phone: {{order.phone}}</p>
						{% if order.order_note %}
						<b>Order Note: </b> {{order.order_note}}
						{% endif %}


					</div>
				</div>
				<div class="card">
					<h5 class="card-header">Payment Method</h5>
					<div class="card-body">
						<p class="card-text">Payment on delivery</p>

					</div>
				</div>
				<div class="card">
					<h5 class="card-header">Review Products</h5>
					<div class="card-body">
						<table class="table table-borderless table-shopping-cart">
							<thead class="text-muted">
								<tr class="small text-uppercase">
									<th scope="col">Product</th>
									<th scope="col" width="120">Quantity</th>
									<th scope="col" width="120">Price</th>

								</tr>
							</thead>
							<tbody>

								{% for cart_item in cart_items %}
								<tr>
									<td>
										<figure class="itemside align-items-center">
											<div class="aside"><img src="{{ cart_item.product.images.url }}" class="img-sm"></div>
											<figcaption class="info">
												<a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.product_name }}</a>
												<p class="text-muted small">
													{% if cart_item.variations.all %}
													{% for item in cart_item.variations.all %}
													{{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }} <br>
													{% endfor %}
													{% endif %}
												</p>
											</figcaption>
										</figure>
									</td>
									<td>
										<!-- col.// -->
										<label for="">{{cart_item.quantity}}</label>
									</td>
									<td>
										<div class="price-wrap">
											<var class="price">{{ cart_item.sub_total }}VNĐ</var>
											<small class="text-muted">  {{ cart_item.product.price }}VNĐ each </small>
										</div> <!-- price-wrap .// -->
									</td>

								</tr>
								{% endfor %}

							</tbody>
						</table>

					</div>
				</div>

			</aside> <!-- col.// -->
			<aside class="col-lg-4">

				<div class="card">
					<div class="card-body">
						<dl class="dlist-align">
							<dt>Total price:</dt>
							<dd class="text-right">{{total}}VNĐ</dd>
						</dl>
						
						<hr>
						


						<div id="place-order-button-container">
							<a id="place-order-button" href='#' class="btn btn-primary">Order</a>

						  </div>
						  <style>
							#place-order-button-container {
							  text-align: right;
							}
							</style>
							<style>
								#order-confirmation {
								  margin-top: 20px;
								}
							  </style>
							  
							<div id="order-confirmation" style="display: none;">
								<div class="alert alert-success" role="alert">
								  Thanks for ordering! <button type="button" class="close" aria-label="Close" onclick="closeNotification()"><span aria-hidden="true">&times;</span></button>
								</div>
							  </div>
							  <script>
								function showNotification() {
								  var notification = document.getElementById('order-confirmation');
								  notification.style.display = 'block';
								}
							  
								function closeNotification() {
								  var notification = document.getElementById('order-confirmation');
								  notification.style.display = 'none';
								}
							  
								document.getElementById('place-order-button').addEventListener('click', function() {
								  showNotification();
								});
							  </script>
																	
					</div> <!-- card-body.// -->
				</div> <!-- card.// -->

			</aside> <!-- col.// -->


		</div> <!-- row.// -->

		<!-- ============================ COMPONENT 1 END .// ================================= -->

	</div> <!-- container .//  -->
{% endblock %}
